<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= player.age %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= player.contact %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= player.bio %>
  </p>
</div>
